.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--white);
  margin-top: 4rem;
  box-shadow: var(--shadow);
}

.header__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__img {
  width: 7rem;
  height: 7rem;
}

.header__name {
  font-weight: bold;
  font-size: 2rem;
}

.header__email {
  color: var(--white-800);
}

.header__btns {
  display: flex;
  gap: 2rem;
}

.btn-header__log-out {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-header__dark-mode {
  background-color: var(--yellow);
  box-shadow: var(--shadow-yellow);
}

.btn-header__alert {
  background-color: var(--main-color);
  box-shadow: var(--shadow);
  position: relative;
}

.header__alert-count {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: 0;
}

.header__icon {
  font-size: 2rem;
  color: var(--light);
}
